body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(116, 116, 116);
  margin: 15px 10%;
}

body > p {
  text-align: center;
}

.square {
  height: calc(var(--width) * 1px);
  width: calc(var(--width) * 1px);
  position: absolute;
  left: calc(var(--x) * 1px);
  top: calc(var(--y) * 1px);
  border: 1px solid #00000012;
  box-sizing: border-box;
  transition: background-color 1s;
}

.square.updating {
  background-color: rgba(0, 128, 0, 0.351);
  transition: background-color 0s;
}

.particle {
  left: calc(var(--x) * 1px);
  top: calc(var(--y) * 1px);
  position: absolute;
}

.particle::after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: red;
  display: block;
  transform: translate(-50%, -50%);
}

.particle.updating::after {
  background-color: rgb(255, 153, 0);
}

.particle.centerOfGravity::after {
  background-color: blue;
}

.particle.centerOfGravity.original::after {
  background-color: green;
}

.particle.centerOfGravity {
  z-index: 1;
}

.sim {
  position: relative;
  background-color: rgb(182, 182, 182);
  margin: 15px;
  margin-bottom: 45px;

  border-radius: 10px;
  overflow: hidden;
}