@media (width <= 675px) {
  div#links {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
  }

  div#links a {
    margin: 0px 5px 8px 5px;
  }
}

#links {
  position: fixed;
  left: 20px;
  top: 20px;
  --icon-size: 25px;
}

#links a {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  background-repeat: no-repeat;
  margin-bottom: calc(var(--icon-size) / 3);

  opacity: 0.7;

  border-radius: 100%;
  border: solid 2px;
  box-sizing: content-box;
  border-color: transparent;

  transition: all 0.5s;
}
#links:hover a {
  opacity: 1;
}

#links a:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

#ericknock {
  background: url("https://ericknock.dev/favicon.ico");
}

#eklittlehill {
  background: url("https://eklittlehill.com/favicon.ico");
}

div#menus {
  box-sizing: border-box;
  overflow: hidden;
  width: 20px;
  height: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;

  border: 1px solid #686868;
  background-color: rgb(213, 212, 212);
  border-radius: 10px;

  transition: width 0.5s, height 0.5s;
  transition-delay: 1s;
}

div#menus * {
  transition-delay: 1s;
}

.holder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  padding: 1em;
  opacity: 0;
}

#menus .title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

div#menus:hover {
  width: 200px;
  height: 200px;
  transition-delay: 0s;
}
div#menus:hover .holder {
  overflow-y: auto;
  overflow-x: hidden;
  transition-delay: 0s;
}

div#menus::before {
  content: "m";
  position: absolute;
  top: -2px;
  left: 2.5px;
  font-weight: bold;
  font-size: 1em;
  color: var(--link-color);
  opacity: 1;

  transition: opacity 0.5s;
  transition-delay: 1s;
}

div#menus:hover::before {
  opacity: 0;
  transition-delay: 0s;
}
div#menus:hover .holder {
  opacity: 1;
  transition-delay: 0s;
}

.menu {
  margin-bottom: 10px;
}

#forceMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#forceMenu li {
  justify-content: space-between;
}

#forceMenu button {
  background-color: #f0f0f0;
  cursor: pointer;
}

#menus button, #menus input {
  border-color: var(--link-color);
  border-style: solid;
  border-radius: 5px;
}

#forceMenu .up-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 1px;
  margin-left: 5px;
}
#forceMenu .down-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
  margin-right: 5px;
}

#forceMenu .add-coefficient-btn {
  width: 100%;
}

.add-coefficient-btn {
  margin-bottom: 8px;
}

#dataDisplay canvas {
  margin-top: 40px;
}