@media (width <= 650px) {
  div#menu {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
  }

  div#menu a {
    margin: 0px 5px 8px 5px;
  }
}

#menu {
  position: fixed;
  left: 20px;
  top: 20px;
  --icon-size: 25px;
}

#menu a {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-size: var(--icon-size);
  background-repeat: no-repeat;
  margin-bottom: calc(var(--icon-size) / 3);

  opacity: 0.7;

  border-radius: 100%;
  border: solid 2px;
  box-sizing: content-box;
  border-color: transparent;

  transition: all 0.5s;
}

#menu a:hover {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

#ericknock {
  background: url("https://ericknock.dev/favicon.ico");
}

#eklittlehill {
  background: url("https://eklittlehill.com/favicon.ico");
}